.home-title {
  font-size: 3.2em;
  display: block;
  text-align: center;
  font-weight:900;
  padding-top: 1em;
}

.home-tagline {
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

// .home-header { background-image: url(/images/florence.PNG); }

