.home-title {
  font-size: 3.2em;
  display: block;
  text-align: center;
  font-weight:900;
  padding-top: 3em;
  color:white;
  z-index: 100;
  position: relative;
  text-shadow: 0 0 50px #000, 0 0 6px #000;
  -webkit-font-smoothing: antialiased;
}

.home-tagline {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
  color:white;
  z-index: 100;
  position: relative;
  text-shadow: 0 0 50px #000, 0 0 6px #000;
}

//.home-header { background-image: url(/images/florence.PNG); }