.home-title {
  font-size: 3.2em;
  display: block;
  text-align: center;
  font-weight:900;
  padding-top: 1em;
}

.home-tagline {
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

// .home-header { background-image: url(/images/florence.PNG); }

/*  .wrapper {
    background-image: url(/images/florence.PNG);
    opacity: .4;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%; 
    padding: 0;
    margin: 0;
    max-width: 100%;
  }*/